{% extends "layout.html" %}
{% block body %}
{% if beer %}

	<h2>{{ beer.name }}</h2>
	<a href="{{ url_for("delete_beer", beer_id = beer.id) }}">Delete</a>

{% else %}

	<h2>Beers</h2>

	<div class="row">
		<div class="list-group">
			{% for beer in beers %}
			<a class="list-group-item" href="{{ url_for('beer', beer_id = beer.id) }}">{{ beer.name }}</a>
			{% endfor %}
		</div>
	</div>

	<form class="form" role="form" action="{{ url_for('beer') }}" method="post">
		<h2 class="form">Create new beer</h2>
		<dl>
			<dt>Name:
			<dd><input type=text size=30 name=name>
			<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
		</dl>
	</form>

{% endif %}
{% endblock %}
