{% extends "layout.html" %}
{% block body %}
{% if brew %}

	<h2>{{ brew.name }}</h2>
	<a href="{{ url_for("delete_brew", brew_id = brew.id) }}">Delete</a>

{% else %}

	<h2>Brews</h2>

	<div class="row">
		<div class="list-group">
			{% for brew in brews %}
			<a class="list-group-item" href="{{ url_for('brew', brew_id = brew.id) }}">{{ brew.name }}</a>
			{% endfor %}
		</div>
	</div>

	<form class="form" role="form" action="{{ url_for('brew') }}" method="post">
		<h2 class="form">Create new brew</h2>
		<dl>
			<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
		</dl>
	</form>

{% endif %}
{% endblock %}
