{% extends "layout.html" %}
{% block body %}
{% if delivery %}

	{% if delivery.direction == 0 %}

	<h2> Delivery from {{ delivery.company.name }}</h2>
	{% for resource in delivery.event.resources %}
	+ {{ resource.item.name }} {{ resource.item.type.name }} {{ resource.amount }} {{ resource.item.type.unit }} <br />
	{% endfor %}
	<form class="form" role="form" action="{{ url_for('delivery', delivery_id = delivery.id) }}" method="post">
		{{ form.hidden_tag() }}
		{{ form_field(form.stock_item) }}
		{{ form_field(form.amount) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Add Resource</button>
	</form>

	{% else %}

	<h2> Delivery to {{ delivery.company.name }}</h2>
	{% for usage in delivery.event.resource_usages %}
	- {{ usage.resource.item.name }} {{ usage.resource.item.type.name }} {{ usage.amount }} {{ usage.resource.item.type.unit }} <br />
	{% endfor %}
	<form class="form" role="form" action="{{ url_for('delivery', delivery_id = delivery.id) }}" method="post">
		{{ form.hidden_tag() }}
		{{ form_field(form.resource) }}
		{{ form_field(form.amount) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Add Resource Usage</button>
	</form>

	{% endif %}

{% else %}

	<div class="row">
		<div class="list-group">
			{% for delivery in deliveries %}
			<a class="list-group-item" href="{{ url_for('delivery', delivery_id = delivery.id) }}">...</a>
			{% endfor %}
		</div>
	</div>

	<h2>Deliveries</h2>
	<form class="form" role="form" action="{{ url_for('delivery') }}" method="post">
		{{ form.hidden_tag() }}
		{{ form_field(form.company) }}
		{{ form_field(form.direction) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
	</form>

{% endif %}
{% endblock %}
