{% extends "layout.html" %}
{% block body %}
<div class=jumbotron>
	<h1>BrewLog</h1>
</div>

<div class="row">
	<div class="list-group">
		{% for event in events %}
		{{ event.id }} {{ event.type.name }} {{ event.timestamp }}
		{% for user in event.users %}
		{{ user.name }}
		{% endfor %}
		<br />
		{% for resource in event.resources %}
		+ {{ resource.item.name }} {{ resource.item.type.name }} {{ resource.amount }} {{ resource.item.type.unit }} <br />
		{% endfor %}
		{% for usage in event.resource_usages %}
		- {{ usage.resource.item.name }} {{ usage.resource.item.type.name }} {{ usage.amount }} {{ usage.resource.item.type.unit }} <br />
		{% endfor %}
		{% endfor %}
	</div>
</div>

{% endblock %}
