<!doctype html>
<!-- https://gist.github.com/maximebf/3986659 --!>
{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
            </label>
        {% endif %}
        <div class="controls">
            {% set class_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set class_ = class_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label class="checkbox">
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                    {% set class_ = class_ + ' input-xlarge' %}
                {% elif field.type == 'FileField' %}
                    {% set class_ = class_ + ' input-file' %}
                {% endif %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error help-inline">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
<html>
	<head>
		<title>BrewLog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel=stylesheet type=text/css href="/static/css/bootstrap.css" />
		<link rel=stylesheet type=text/css href="/static/css/bootstrap-theme.css" />
		<link rel=stylesheet type=text/css href="/static/css/style.css" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">BrewLog</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('user') }}">Users</a></li>
						<li><a href="{{ url_for('stocktype') }}">StockTypes</a></li>
						<li><a href="{{ url_for('stockitem') }}">StockItems</a></li>
						<li><a href="{{ url_for('resource') }}">Resources</a></li>
						<li><a href="{{ url_for('delivery') }}">Deliveries</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
					{% if not current_user.is_authenticated() %}
						<li><a href="{{ url_for('login') }}">Log in</a></l>
					{% else %}
						<li><a href="{{ url_for('logout') }}">Log out</a></li>
					{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class=container>
			{% for message in get_flashed_messages() %}
			<div class="alert alert-info">{{ message }}</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>

		<script src="/static/js/jquery-2.1.0.js"></script>
		<script src="/static/js/bootstrap.js"></script>
	</body>
</html>

