{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="alert alert-warning"><strong>Error:</strong> {{ error }}{% endif %}
<form class="form-signin" role="form" action="{{ url_for('login') }}" method="post">
	{{ form.hidden_tag() }}
	<h2 class="form-signin-heading">Login</h2>
	<dl>
		<dt>User name:
		<dd>{{ form.username }}
		<dt>Password:
		<dd>{{ form.password }}
		<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</dl>
</form>
{% endblock %}
