{% extends "layout.html" %}
{% block body %}
<h2>Resources In Stock</h2>

<div class="row">
	<div class="list-group">
		{% for resource in resources %}
		{{ resource.item.name }} {{ resource.item.type.name }} {{ resource.current_amount }} {{ resource.item.type.unit }} <a href="{{ url_for("waste_resource", resource_id = resource.id) }}">Waste All</a><br />
		{% endfor %}
	</div>
</div>
{% endblock %}
