{% extends "layout.html" %}
{% block body %}
{% if stocktype %}

	<h2>{{ stocktype.name }}</h2>
	Unit: {{ stocktype.unit }} <br />
	<a href="{{ url_for("delete_stocktype", stocktype_id = stocktype.id) }}">Delete</a>

{% else %}

	<h2>StockTypes</h2>

	<div class="row">
		<div class="list-group">
			{% for stocktype in stocktypes %}
			<a class="list-group-item" href="{{ url_for('stocktype', stocktype_id = stocktype.id) }}">{{ stocktype.name }}</a>
			{% endfor %}
		</div>
	</div>

	<form class="form" role="form" action="{{ url_for('stocktype') }}" method="post">
		<h2 class="form">Create new stocktype</h2>
		<dl>
			<dt>Name:
			<dd><input type=text size=30 name=name>
			<dt>Unit:
			<dd><input type=text size=30 name=unit>
			<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
		</dl>
	</form>

{% endif %}
{% endblock %}
