{% extends "layout.html" %}
{% block body %}
{% if stockitem %}

	<h2>{{ stockitem.name }}</h2>
	Type: {{ stockitem.type.name }} <br />
	<a href="{{ url_for("delete_stockitem", stockitem_id = stockitem.id) }}">Delete</a>

{% else %}

	<h2>StockItems</h2>

	<div class="row">
		<div class="list-group">
			{% for stockitem in stockitems %}
			<a class="list-group-item" href="{{ url_for('stockitem', stockitem_id = stockitem.id) }}">{{ stockitem.name }} {{ stockitem.type.name }}</a>
			{% endfor %}
		</div>
	</div>

	<form class="form" role="form" action="{{ url_for('stockitem') }}" method="post">
		<h2 class="form">Create new stockitem</h2>
		<dl>
			<dt>Name:
			<dd><input type=text size=30 name=name>
			<dt>Type:
			<dd><select name=stocktype>
				{% for stocktype in stocktypes %}
				<option value={{ stocktype.id }}>{{ stocktype.name }}</option>
				{% endfor %}
			</select>
			<dd><button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
		</dl>
	</form>

{% endif %}
{% endblock %}
