{% extends "layout.html" %}
{% block body %}
{% if user %}

	<h2>{{ user.name }}</h2>
	<a href="{{ url_for("delete_user", user_id = user.id) }}">Delete</a>

{% else %}

	<h2>Users</h2>

	<div class="row">
		<div class="list-group">
			{% for user in users %}
			<a class="list-group-item" href="{{ url_for('user', user_id = user.id) }}">{{ user.name }}</a>
			{% endfor %}
		</div>
	</div>

	<form class="form" role="form" action="{{ url_for('user') }}" method="post">
		{{ form.hidden_tag() }}
		<h2 class="form">Create new user</h2>
		{{ form_field(form.name) }}
		{{ form_field(form.username) }}
		{{ form_field(form.password) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
	</form>

{% endif %}
{% endblock %}

